.dashMain {
  max-width: 70%;
  margin: 15px auto 30px auto;
  display: flex;
  justify-content: space-evenly;
}

.dashLeft {
  max-width: 70%;
  background-color: #eee;
  border-radius: 10px;
  display: table;
}

.dashRight {
  width: 30%;
}

.dashRightT {
  max-width: 100%;
  margin-left: 6px;
  margin-bottom: 22px;
  padding: 6px;
  justify-content: space-evenly;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
}

.dashRightTButtons {
  max-width: 100%;
  margin-left: 16px;
  margin-bottom: 22px;
  padding: 6px;
  justify-content: space-evenly;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
}

.section-title {
  font-weight: 700;
}
