.myhistoryMain {
  max-width: 70%;
  margin: 15px auto 30px auto;
  display: flex;
}

.myhistoryLeft {
  width: 70%;
  overflow: hidden;
  background-color: #eee;
  border-radius: 10px;
  padding: 6px;
}

.myhistoryRight {
  width: 30%;
}

.myhistoryRightT {
  width: 100%;
  background-color: #eee;
  border-radius: 10px;
  margin-left: 16px;
}
