.solveMain {
  max-width: 70%;
  margin: 15px auto 30px auto;
  display: flex;
  justify-content: space-between;
}

.solveLeft {
  width: 70%;
  background-color: #eee;
  border-radius: 10px;
  display: table;
}

.solveRight {
  width: 30%;
}

.solveRightT {
  display: absolute;
  max-width: 100%;
  margin-left: 16px;
  margin-bottom: 32px;
  padding: 4px;
  justify-content: space-evenly;
  height: auto;
  background-color: #eee;
  border-radius: 10px;
}
