.main-content-public {
  margin-top: 0;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.342),
      rgba(0, 0, 0, 0.822)
    ),
    url('https://images.pexels.com/photos/2873277/pexels-photo-2873277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  /* url('https://images.pexels.com/photos/583846/pexels-photo-583846.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center-center;
  color: white;
}
