.categoryCard {
  margin: 0.4%;
  flex: 0 49.2%;
  box-sizing: border-box;
}
.categoryCardContent {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 0;
  margin-left: auto;
  display: flex;
}

.categoryCardMedia {
  margin-bottom: auto;
  margin-top: auto;
  height: 80px;
}
